@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

.contentBox{
   height: 80%;
   width: 80%;
}
.menu{
    height: 13%;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-around;
}
.button{
    color:wheat;
    background-color: transparent;
    height: 100%;
    width: 25%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    cursor:pointer;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;


}
.button:hover{
    background-color: rgba(33, 36, 43, 0.5) ;
    
}
.content{
    height: 87%;
    background-color: yellowgreen;
}
#about_content{
    display:none;
}
#contact_content{
    display:none;
}