.container{
    height: 87%;
    background-color: transparent;
    display: flex;
    align-content: center;
    justify-content: center;
    overflow: hidden;
}

#map {
    position: relative;
    height: 60vh;
    width: 100%;

  }
  .popup{
      color:wheat
  }

  #hidden{
      display: none;
  }
  #pic{
    
    object-fit:fill;
  }

  